.add-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .form-title {
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    color: #222;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    padding: 1.5rem;
    border-radius: 5px;
  }

  .feeling-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    button {
      min-height: 2.25rem;
      max-height: 2.5rem;
    }

    p {
      width: 50%;
      max-height: 2.5rem;
      min-height: 2.125rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
      margin: 0;
    }
  }

  .feeling-error {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    font-weight: 400;
  }

  .btn-submit {
    margin-top: 1rem;
  }
}
