@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "~@ctrl/ngx-emoji-mart/picker";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

.dialog-style {
  width: 40%;
}

@media only screen and (max-width: 769px) {
  .dialog-style {
    width: 100%;
  }
}
