@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import "~@ctrl/ngx-emoji-mart/picker";
@import "material-theme.scss";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

@media only screen and (max-width: 576px) {
  .my-full-screen-dialog {
    height: 100vh;
    width: 100vw !important;
    max-width: none !important;
  }
}

.dark-theme {
  form {
    background-color: #424242;
  }

  .form-title {
    color: #ffffff !important;
  }
}

.theme-toggle {
  text-align: right;
  margin: 1rem;
}
